/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main
{
margin-top: 50px;
padding-top: 100px;
width: 900px;
margin: 0 auto;
}

img
{
width: 800px;
height: auto;
display:block;
  margin-left: auto;
  margin-right: auto;
}

section
{
    margin-top: 40px;
}

main > .container {
  padding: 60px 50px 0;
}
